body {
  font-family: arial, sans-serif;
}
.weather-app {
  margin: 30px auto;
  max-width: 600px;
}
.weather {
  padding: 20px;
  border: 1px solid rgb(171, 172, 176);
  border-radius: 8px;
}
.overview {
  margin-bottom: 20px;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.weather-temp strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-img {
  font-size: 300%;
  font-weight: 100;
}
.temp {
  display: inline;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
